<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Data</title>
</head>
<body>
    <h1><a href="/data/catad">Insert Category</a></h1>

    <h1><a href="/data/getcat">Insert Product</a></h1>

    <table border="2" align="center">
        <thead>
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Image</th>
        </thead>
        <tbody>
            <% for ( var i = 0 ; i < data.length; i++) { %>
                <tr>
                    <td><%=data[i].pname%></td>
                    <td><%=data[i].cname%></td>
                    <td><%=data[i].price%></td>
                    <td><img src="/uploads/<%=data[i].image%>" hight="100px" width="100px" alt="not found"></td>
                </tr>
            <% } %>
        </tbody>
    </table>
</body>
</html>