.mb-2 {
    margin-bottom: 2rem;
}

.mt-2 {
    margin-top: 2rem;
}

.flex-center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

* {
    font-size: 1.2rem;
}

.err {
    color: red;
}

.age {
    width: 4rem;
}